<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>Document</title>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-md bg-secondary navbar-dark">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a href="#" class="navbar-brand">LionAuction</a>
    <div class="collapse navbar-collapse" id="navbarText">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-item nav-link" href="#">Auctions</a>
        <a class="nav-item nav-link" href="#">Bids</a>
        <a class="nav-item nav-link" href="#">Profile</a>
      </div>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
      <div class="nav-item dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <span>{{ user }}</span>
          </a>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><form  class="form-inline my-2 my-lg-0" action="/logout" method="get"><button class="dropdown-item" type="submit">Logout</button></form></li>
          </ul>
      </div>
  </div>
</nav>
<div class="container mt-3">
    <h1>Welcome to Lion Auction</h1>
    <p>This site allows students and other businesses to auction and bid on items</p>
    <form id="parentFilter" action="/parent-filter" method="get">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                All
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="height: 200px; overflow-y: scroll;">
                {% for parent_category in categories %}
                <li><a class="dropdown-item" href="#" onclick="updateDropdownText(this)">{{ parent_category }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <input type="hidden" name="categoryName" id="categoryName">
    </form>
    <div class="card-body">
        <h2 class="card-title">Listings</h2>
        {% for Listing_ID,Seller_Email,Auction_Title,Category,Max_Bid_Price,Remaining_Bids,Bid_Count in auctions %}
        <div class="card" onclick="location.href='/product-page?listing_id={{ Listing_ID }}&seller_email={{ Seller_Email }}';">
            <div class="card-body">
                <h4 class="card-title">{{ Auction_Title }}</h4>
                <p class="card-text">{{ Category }}</p>
                <a href="#" class="card-link">${% if Max_Bid_Price is not none %}{{ Max_Bid_Price }}{% else %}0{% endif %} * {{ Remaining_Bids }} Current Bids {{ Bid_Count }}</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script>
function updateDropdownText(selectedItem) {
  // Get the text of the selected item
  let selectedText = selectedItem.textContent.trim();

  // Update the dropdown button text with the selected item's text
  document.getElementById("dropdownMenuButton").textContent = selectedText;
  // Set the value of the hidden input field to the selected item's text
  document.getElementById("categoryName").value = selectedText;
  // Submit the form
  document.getElementById("parentFilter").submit();
}
</script>

</body>
</html>