<!DOCTYPE html>
<html>
<head>
    <title>Lion Auction Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"><body>
    <link rel="stylesheet" href="stylesheets/login.css">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <h2>Lion Auction Login</h2>
                {% if message %}
                    <div class="alert alert-danger">{{ message }}</div>
                {% endif %}
                <form action="/login" method="POST">
                    <div class="form-group">
                        <label for="Email">Email</label>
                        <input type="email" name="Email" class="form-control" id="Email" required>
                    </div>
                    <div class="form-group">
                        <label for="Password">Password</label>
                        <input type="password" name="Password" class="form-control" id="Password" required>
                    </div>
                    <div class="form-group">
                        <label>User Type</label><br>
                        <div id="user-selector">
                            <div class="user-type"><input type="radio" id="seller" name="user_type" value="Seller"><label for="seller">Seller</label></div>
                            <div class="user-type"><input type="radio" id="bidder" name="user_type" value="Bidder"><label for="bidder">Bidder</label></div>
                            <div class="user-type"><input type="radio" id="helpdesk" name="user_type" value="Helpdesk"><label for="helpdesk">Helpdesk</label></div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>